
#api-detail {
  top: 50px;
}
#api-detail .modal-header {
  padding-bottom: 0;
}
#api-detail hr {
  margin-top: 15px;
  margin-bottom: 5px;
}
.api-name a {
  cursor: pointer;
}
.labels {
  color: silver;
}

@media screen and (max-width: 750px) {
  #data {
    margin: 35px 0 0 0;
  }
  #api-detail {
    top: 0px;
  }
}
